header {
    background-color: #BBBBBB;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: orange;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

footer {
    background-image: url('./imagens/bg.jpg');
    text-align: center;
    padding: 50px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 5px 0;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 6px; 
    width: 50%;
    background-size: 30px 28px;
    background-repeat: no-repeat;
    background-position-x: 20px ;
    background-position-y: 4px ;
    padding-left: 65px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

.email {
    background-image: url("./img/o-email.png");
}

.nome {
    background-image: url("./img/sombra-de-usuario-masculino.png");
}

.senha {
    background-image: url("./img/lock.png");
}

.input-padrao:focus {
    outline: 0;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
}

.enviar {
    width: 30%;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 115px;
    background-color: orange;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    transition: 1s;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);

}
